@media screen and (max-width:700px){ 
 .nome{
    font-size: 5px;
    flex-flow: column nowrap;
 }   
.header{
    flex-flow: column wrap;
}
.sobre-mim{
    margin-right: 2%;
}
.img-prof{
    margin-left: 2%;
}
.img-prof, .nome, .sobre-mim, .intereses-body, .contato-rss{
    height: auto;
}
nav{
    display: none;
}
input, textarea{
    width: auto;
}
footer{
    box-shadow: 0 0 ;
}
label{
    margin-top: 10px;
}
.formulario{
    display: none;
}
}