@media screen and (max-width:700px){ 
 h1{
    font-size: 11px;
 }   
.header{
    flex-flow: column wrap;
}
.sobre-mim{
    margin-right: 2%;
}
.img-prof{
    margin-left: 2%;
}
nav{
    display: none;
}
}