@media screen and (max-width:750px){ 
 /* NOME + NAV */
     .nome{
    font-size: 5px;
    flex-flow: column nowrap;
 } 
 .navbar{
    text-align: center;
    margin: 0;
}
 /* SOBRE MIM + FOTO  */
 .header{
    flex-flow: column wrap;
}
.sobre-mim{
    margin-right: 2%;
    box-shadow: #7e43b4 0px 5px 10px;
}
.img-prof{
    margin-left: 2%;
    box-shadow: #f5d001 0px 5px 10px;
}
.img-prof, .nome, .sobre-mim, .intereses-body, .contato-rss{
    height: auto;
}
.img-prof{
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
 /*INTERESSES E HOBBIES  */
.intereses-box{
    box-shadow: #7e43b4 0px 5px 10px;   
}
.intereses-titulo{
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}
/* CONTATO + FORMULÁRIO */
 .contato-body{
    box-shadow: #f5d001 0px 5px 10px; 
}
input, textarea{
    width: auto;
}
footer{
    box-shadow: 0 0 ;
}
label{
    margin-top: 10px;
}
}
  



